body {
  background-color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
}

h1{
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(171, 171, 171);
  padding: 1rem;
  border-radius: 6px;
}

label {
  margin-bottom: .5rem;
  display: block;
}

textarea {
    resize: none;
    /* vertical, horizontal and so on */
}

input, textarea, select { /* 동시에 적용 */
  width: 100%;
  /* height: 2rem; */
  /* 줄바꿈 어떻게 함? */
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  /* input, button 은 상속보다 자체 속성이 우선순위가 더 높아서, 별도 inherit 선언해주어야 함 */
  border: 1px solid rgb(184, 184, 184);
  padding: .25rem;
  color:rgb(70, 70, 70);
}

input:focus {
    background-color: rgb(219, 190, 253);
    color: rgb(33, 5, 64);
    border-color: rgb(33, 5, 64);
}

button {
  display: block;
  font: inherit;
  /* normal 1rem 'roboro', sans-serif; */
  background-color: rgb(33, 5, 64);
  color: white;
  border: 1px solid rgb(33, 5, 64);
  padding: 0.5rem .5rem;
  border-radius: 4px;

  cursor: pointer;
}

button:hover {
    background-color:rgb(54, 22, 90);
    border-color: rgb(54, 22, 90);
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: .5rem;
}